<main class="main">
  <section class="section-box box-become-video background-body" style="height: 100vh;">
    <div class="container">
      <div class="text-center"> <img class="mr-10" src="assets/imgs/page/pages/404.png" alt="Travile">
        <h1 class="neutral-1000"> <span>We </span>Can’t Find <span>This Page</span></h1>
        <p class="text-xl-medium neutral-500">The page you are looking for doesn’t exist or has been moved.</p>
        <div class="d-flex align-items-center justify-content-center mt-45">
          <a class="btn btn-black-lg-square" routerLink="/home">
            <svg class="first" width="16" height="16" viewbox="0 0 16 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M8 15L0.999999 8L8 1M1 8L15 8" stroke="" stroke-width="1.5" stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>HOME
          </a>
        </div>
      </div>

    </div>
  </section>

</main>