.password {
  background-color: #191919;
}

.hide {
  display: none;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  right: 25px;
  top: 50%;
  cursor: pointer;
  z-index: 2;
  color: #757575;
}

.input-container {
  display: flex;
  align-items: center;
}

.avatar-img {
  position: absolute;
  right: 20px;
  width: 35px;
  height: 35px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}