#avatar {
  height: 150px;
  border-radius: 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: white !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
  border: 1px solid rgb(65, 65, 65) !important;
}

.form-control:focus {
  background-color: transparent !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  caret-color: #FEFA17 !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border-color: #FEFA17 !important;
}

::ng-deep .mat-mdc-tab-body-content {
  overflow: hidden !important;
}

.primary-button-color {
  background-color: #FEFA17 !important;
  color: #000;
}

.primary-button-color:hover {
  background-color: #e6e315 !important;
}

.primary-button-color:active {
  background-color: #cccb13 !important;
}


@media only screen and (max-width: 766px) {
  #firstRow {
    flex-direction: column;
    width: 100% !important;
  }
}