<header class="header sticky-bar">
  <div class="container-fluid background-body">
    <div class="main-header">
      <div class="header-left">
        <div class="header-logo"><a class='d-flex' routerLink="home">
            <img class="dark-mode" alt="Travila" src="assets/images/logo-w.svg">
          </a>
        </div>
        <div class="header-nav">
          <nav class="nav-main-menu">
            <ul class="main-menu">
              <li class="mega-li"><a routerLink="/home" routerLinkActive="active">Home</a> </li>
              <li class="mega-li"><a routerLink="/apartments" routerLinkActive="active">Apartments</a> </li>
            </ul>
          </nav>
        </div>
        <div>
          <!-- OPACITY 0 - Fix CSS -->
          <ul class="main-menu header-right opacity-0">
            <li class="mega-li"><a href="">Login</a></li>
            <li class="mega-li"><a href="">Register</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</header>