<section class="box-section box-contact-form background-body">
  <div class="container">
    <div class="row justify-content-center">
      <mat-tab-group class="mt-35 pb-5 main-dashboard">
        <mat-tab label="Profile">
          <app-profile-form></app-profile-form>
        </mat-tab>
        <mat-tab label="Reservations">
          <app-dashboard-reservations></app-dashboard-reservations>
        </mat-tab>
        <mat-tab label="Apartments">
          <app-user-apartments></app-user-apartments>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>