<main class="main">
  <section class="box-section block-content-tourlist background-body">
    <div class="container">
      <div class="box-content-main">
        <div class="content-right">

          @if(notApartmentsFound){
          <div class="text-center">
            <h1 class="neutral-1000"> <span>We </span>Can’t Find <span>any apartment</span></h1>
            <div class="d-flex align-items-center justify-content-center mt-45">
              <a class="btn btn-black-lg-square" routerLink="/home">
                <svg class="first" width="16" height="16" viewbox="0 0 16 16" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 15L0.999999 8L8 1M1 8L15 8" stroke="" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>HOME
              </a>
            </div>
          </div>
          }
          @else if(search){
          <div class="box-filters mb-25 pb-5 border-bottom border-1">
            <div class="row align-items-center">
              <div class="box-view-type">
                <span class="text-sm-bold neutral-500 number-found">{{apartments.length}} apartments found</span>
              </div>
              <div class="col-xl-10 col-md-8 mb-12 text-lg-start text-center mb-2">

                <mat-chip-set>
                  @if(search.checkIn) {
                  <mat-chip>{{search.checkIn | date: 'd/MMM/yyyy'}} - {{search.checkOut | date:'d/MMM/yyyy'}}</mat-chip>
                  }

                  <mat-chip>{{search.location}}</mat-chip>

                  @if(search.guests){
                  <mat-chip> Guests: <span>{{search.guests}}</span></mat-chip>

                  }
                </mat-chip-set>
              </div>
            </div>
          </div>
          }


          <div class="box-grid-tours list-tours wow fadeIn">
            <div class="row">
              @for(apartment of displayedApartments; track apartment){
              <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card-journey-small background-card">
                  <div class="card-image">
                    <img src="{{apartment.mainImage}}" alt="{{apartment.name}}">
                  </div>
                  <div class="card-info background-card">
                    <div class="card-rating">
                      <div class="card-left"> </div>
                      <div class="card-right"> <span class="rating">{{apartment.totalBookings}} <span
                            class="text-sm-medium neutral-500">
                            ({{apartment.totalReviews}} Bookings)</span></span></div>
                    </div>
                    <div class="card-title">
                      <a class="text-lg-bold neutral-1000" routerLink="/apartments/{{apartment.id}}">
                        {{apartment.name}}
                      </a>
                    </div>
                    <div class="card-program">
                      <div class="card-duration-tour">
                        <p class="icon-duration text-sm-medium neutral-700">{{apartment.city}}</p>

                        <p class="icon-duration text-sm-medium neutral-500">Guests: {{apartment.maxGuests}}</p>
                      </div>
                      <div class="endtime">
                        <div class="card-price">
                          <h6 class="heading-6 neutral-1000">${{apartment.pricePerNight}}</h6>
                          <p class="text-md-medium neutral-500">/ night</p>

                        </div>
                        <div class="card-button"> <a class="btn btn-gray"
                            routerLink="/apartments/{{apartment.id}}">View</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              }

            </div>
          </div>
          <app-paginator [apartments]="apartments" (pageChange)="onPageChange($event)"></app-paginator>
        </div>
      </div>
    </div>
  </section>

</main>