<div class="box-section box-contact-form background-body">
  <div class="container">
    <h5 class="text-light text-center add-apartment-title">ADD APARTMENT</h5>

    <form [formGroup]="form" class="mt-35">
      <!-- First row -->
      <div class="row">
        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Apartment name</mat-label>
            <input matInput formControlName="name">
            <mat-error class="customError">
              @if(form.get('name').hasError('required')){
              <mat-error>Apartment name is required</mat-error>
              }
            </mat-error>
          </mat-form-field>

        </div>
        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Country</mat-label>

            <input matInput formControlName="countryId" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getCities()">
              @for (option of filteredCountries | async; track option) {
              <mat-option [value]="option">{{option.name}}</mat-option>
              }
            </mat-autocomplete>
            @if(form.get('countryId').hasError('required')){
            <mat-error>Country required</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-sm-3">

          <mat-form-field>
            <mat-label>City</mat-label>
            <mat-select formControlName="cityId">
              @for (value of ddlData.cities; track value) {
              <mat-option [value]="value.id">{{value.name}}</mat-option>
              }
            </mat-select>
            @if(form.get('cityId').hasError('required')){
            <mat-error>City is required</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput formControlName="address">
            @if(form.get('address').hasError('required')){
            <mat-error>Address is required</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <!-- Second row -->
      <div class="row add-apartment-second-block py-4">
        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Max Guests</mat-label>
            <mat-select formControlName="maxGuests">
              @for (value of maxGuests; track value) {
              <mat-option [value]="value">{{value}}</mat-option>
              }
            </mat-select>
            @if(form.get('maxGuests').hasError('required')){
            <mat-error>Total guests is required</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Apartment Type</mat-label>
            <mat-select formControlName="apartmentTypeId">
              @for (value of ddlData.apartmentTypes; track value) {
              <mat-option [value]="value.id">{{value.name}}</mat-option>
              }
            </mat-select>
            @if(form.get('apartmentTypeId').hasError('required')){
            <mat-error>Apartment type is required</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Payment Methods</mat-label>
            <mat-select formControlName="paymentMethodIds" multiple>
              @for (value of ddlData.paymentMethods; track value) {
              <mat-option [value]="value.id">{{value.name}}</mat-option>
              }
            </mat-select>
            @if(form.get('paymentMethodIds').hasError('required')){
            <mat-error>Payment method is required</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="col-sm-3">
          <mat-form-field>
            <mat-label>Price/night ($)</mat-label>
            <input matInput type="number" formControlName="price">
            @if(form.get('price').hasError('required')){
            <mat-error>Price is required</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row mt-35">
        <div class="col-sm-4">
          <ng-container formArrayName="featureIds">
            <mat-label class="checkbox-label">Features</mat-label><br>
            <div class="checkbox-grid">
              @for (feature of ddlData.features; track feature; let i = $index) {
              <mat-checkbox [formControlName]="i" (change)="onFeatureChange($event, feature.id)">
                <span style="color: white;">{{ feature.name }}</span>
              </mat-checkbox>
              }
            </div>

          </ng-container>

        </div>

        <div class="col-sm-8">
          <mat-label class="checkbox-label ">Images</mat-label><br>
          <div class="row mt-25">
            <div>
              <button mat-flat-button disableRipple color="primary" type="button" (click)="fileInput.click()">Select
                main image
              </button>
              <input style="display: none" type="file" class="upload" accept="image/*" (change)="onFileChanged($event)"
                #fileInput />

            </div>

            @if(imageUrlPreview){

            <img src="{{imageUrlPreview}}" class="fixed-image-size my-5" />
            }

            <div class="mt-25">
              <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label>Select/drop other images</ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" (removed)="onRemove(f)"
                  [removable]="true" *ngFor="let f of files" [file]="f">
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-35">
        <div class="col-sm-12">
          <mat-form-field class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
            @if(form.get('description').hasError('required')){
            <mat-error>Description is required</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="col-12 d-flex justify-content-center mt-75">
        <button mat-flat-button class="w-25 primary-button-color" (click)="save()">Save</button>
      </div>

      <!-- [disabled]="!form.valid" -->


    </form>
  </div>


</div>