<!-- <div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="text-center">
        <div class="spinning-coin-fall"></div>
      </div>
    </div>
  </div>
</div> -->

<app-header></app-header>

<section>
  <router-outlet></router-outlet>
</section>

<app-footer></app-footer>

<!--Vendors Scripts-->
<!-- <script src="assets/js/vendor/jquery-3.7.1.min.js"></script>
  <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
  <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>

  <script src="assets/js/plugins/magnific-popup.js"></script>
  <script src="assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="assets/js/plugins/swiper-bundle.min.js"></script>
  <script src="assets/js/plugins/slick.js"></script>
  <script src="assets/js/plugins/jquery.carouselTicker.js"></script>
  <script src="assets/js/plugins/masonry.min.js"></script>
  <script src="assets/js/plugins/scrollup.js"></script>
  <script src="assets/js/plugins/wow.js"></script>
  <script src="assets/js/plugins/waypoints.js"></script>
  <script src="assets/js/plugins/counterup.js"></script>
  <script src="assets/js/plugins/bootstrap-datepicker.js"></script>
  <script src="assets/js/plugins/dark.js"></script>
  
  <script src="assets/js/vendor/jquery.countdown.min.js"></script>
  <script src="assets/js/plugins/noUISlider.js"></script>
  <script src="assets/js/plugins/slider.js"></script>

  <script src="assets/js/maine209.js?v=1.0.0"></script>
-->