.primary-button-color {
  background-color: #FEFA17 !important;
  color: #000;
}

.primary-button-color:hover {
  background-color: #e6e315 !important;
}

.primary-button-color:active {
  background-color: #cccb13 !important;
}

::ng-deep .mat-mdc-card {
  background-color: #2E2E2E !important;
  color: white !important;
}

.cardSubtitle p {
  font-size: 1rem;
  line-height: 1.7;
  color: #EAEAEA;
}

::ng-deep .delete-btn {
  background-color: #A40000 !important;
  color: #EAEAEA !important;
}

::ng-deep .edit-btn {
  background-color: #3A3A8A !important;
  color: #EAEAEA !important;
}