.primary-button-color {
  background-color: #FEFA17 !important;
  color: #000;
}

.primary-button-color:hover {
  background-color: #e6e315 !important;
}

.primary-button-color:active {
  background-color: #cccb13 !important;
}

::ng-deep .mat-mdc-card {
  background-color: #b9b9b9 !important;
}

.cardSubtitle p {
  font-size: 1rem;
  line-height: 1.7;
}