::ng-deep .mdc-list-item__primary-text {
  color: white !important;
}

::ng-deep .mat-mdc-unelevated-button[disabled],
.mat-mdc-unelevated-button.mat-mdc-button-disabled {
  color: #696868;
  border: 1px solid #611c1c;
}

.table-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.table-row {
  border-bottom: 1px solid #444;
  padding: 10px 0;
}

.cell {
  flex: 1;
  text-align: center;
}

.header-cell {
  flex: 1;
  text-align: center;
  padding: 5px 0;
}

.header-cell.larger-cell {
  flex: 2;
}

.larger-cell {
  flex: 2;
  text-align: center;
}