@if(reservations?.length == 0) {
<div style="height: 20vh;">
  <h5>You currently do not have any reservations...</h5>
</div>
}

@else {
<div class="mt-35">
  <div class="table-header d-flex justify-content-between">
    <div class="header-cell">Image</div>
    <div class="header-cell">Apartment Name</div>
    <div class="header-cell larger-cell">Check-in / Check-out</div>
    <div class="header-cell">Guests</div>
    <div class="header-cell">Payment Method</div>
    <div class="header-cell">Total Price</div>
    <div class="header-cell">Actions</div>
  </div>

  <div class="table-body">
    <div *ngFor="let reservation of reservations" class="table-row d-flex justify-content-between align-items-center">
      <div class="cell">
        <a routerLink="/apartments/{{reservation.apartmentId}}">
          <img src="{{imgPath + getImagePath(reservation.image)}}" height="50px">
        </a>
      </div>
      <div class="cell">
        <a routerLink="/apartments/{{reservation.apartmentId}}" class="text-light">
          {{reservation.apartmentName}}
        </a>
      </div>
      <div class="cell larger-cell">
        <p>{{reservation.checkIn | date : 'dd. MMM YYYY.'}} - {{reservation.checkOut | date : 'dd. MMM YYYY.'}}</p>
      </div>
      <div class="cell">
        <p>{{reservation.totalGuests}}</p>
      </div>
      <div class="cell">
        <p>{{reservation.paymentMethod ?? '/'}}</p>
      </div>
      <div class="cell">
        <p>{{reservation.totalPrice}} $</p>
      </div>
      <div class="cell">
        <button mat-flat-button color="warn" [disabled]="disabledButtons[reservation.bookingId]"
          (click)="cancel(reservation.bookingId)">Cancel</button>
      </div>
    </div>
  </div>
</div>
}